/* @import url(css/autohide_bookmarks_toolbar.css); */ /* Does not seem to work... */

* {
	font-family: "CaskaydiaCove Nerd Font";
	font-weight: 900;
}

/* Hide tab's close button if not hovered */
tab:not(:hover) .close-icon {
    display: none !important;
}

#TabsToolbar {
	/* This is the complete top bar */
}

/* Change spacing around tabs bar */
#tabbrowser-tabs {
	margin-left: 14px !important;
	margin-right: 14px !important;
}

/* Hide unused space between #tabbrowser-tabs and .titlebar-buttonbox-container */
.titlebar-spacer[type="post-tabs"] {
	display: none !important;
}

/* Hide window close button */
.titlebar-buttonbox-container {
	display: none !important;
}

/* Always show tab close button on hover and never otherwise */
#tabbrowser-tabs #tabs-newtab-button{
  display: none;
}
#tabbrowser-tabs:hover #tabs-newtab-button{
  display: flex !important;
}

/* Hide "list all tabs" button */
#alltabs-button {
    display: none !important;
}

/* menupopup:not(#ContentSelectDropdownPopup, .toolbar-menupopup, .toolbar-menupopup menupopup) { */
/*     --panel-padding: var(--panel-padding-block) 0 !important; */
/*     --panel-border-radius: 0 !important; */
/*     --panel-shadow: 4px 4px 2px -2px hsla(0,0%,0%,.4) !important; */
/**/
/*     > menu > menupopup { */
/*         margin-inline: calc(-2 * var(--panel-shadow-margin)) !important; */
/*     } */
/**/
/*     > menu, */
/*     > menuitem { */
/*         padding-block: 2px !important; */
/*     } */
/**/
/*     menu:not([icon], .menu-iconic), */
/*     menuitem:not([checked="true"], [icon], .menuitem-iconic) { */
/*         padding-inline-start: 36px !important; */
/*     } */
/**/
/*     menuseparator { */
/*         padding-inline: 4px !important; */
/*     } */
/* } */
/**/
/* #context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon { */
/*     padding: 3px !important; */
/* } */
