/* FIREFOX CSSHACKS COMPONENTS ************************************************/

/* @import url("./firefox-csshacks/chrome/tabs_on_bottom_v2.css"); */
/* @import url("./firefox-csshacks/chrome/tabs_fill_available_width.css"); */
@import url("./firefox-csshacks/chrome/centered_tab_content.css");
@import url("./firefox-csshacks/chrome/urlbar_centered_text.css");
@import url("./firefox-csshacks/chrome/tab_separator_lines.css");
/* @import url("./firefox-csshacks/chrome/curved_tabs.css"); */
@import url("./firefox-csshacks/chrome/autohide_bookmarks_toolbar.css");

/* CUSTOM MODIFICATIONS *******************************************************/

* {
	/* font-family: "CaskaydiaCove Nerd Font"; */
	font-family: "Ubuntu Nerd Font";
	font-weight: 900;
}

/* Hide tab's close button if not hovered */
tab:not(:hover) .close-icon {
    display: none !important;
}

#TabsToolbar {
	/* This is the complete top bar */
}

/* Change spacing around tabs bar */
#tabbrowser-tabs {
	margin-left: 14px !important;
	margin-right: 14px !important;
	/* margin-left: 2px !important; */
	/* margin-right: 2px !important; */
}

/* Hide unused space between #tabbrowser-tabs and .titlebar-buttonbox-container */
.titlebar-spacer[type="post-tabs"] {
	display: none !important;
}

/* Hide window close button */
.titlebar-button,
.titlebar-buttonbox-container {
	display: none !important;
}

/* Always show tab close button on hover and never otherwise */
#tabbrowser-tabs #tabs-newtab-button{
  display: none;
}
#tabbrowser-tabs:hover #tabs-newtab-button{
  display: flex !important;
}

/* Hide "list all tabs" button */
#alltabs-button {
    display: none !important;
}
