[submodule "scripts/grimshot/imgur.sh"]
	path = scripts/grimshot/imgur.sh
	url = https://github.com/tremby/imgur.sh.git
[submodule "scripts/pywalium"]
	path = scripts/pywalium
	url = git@github.com:simonmader17/pywalium.git
[submodule ".local/share/pandoc/templates/eisvogel"]
	path = .local/share/pandoc/eisvogel
	url = https://github.com/Wandmalfarbe/pandoc-latex-template.git
[submodule ".config/rofi/rofi-themes-collection"]
	path = .config/rofi/rofi-themes-collection
	url = https://github.com/newmanls/rofi-themes-collection.git
