@import "wal.css";

@define-color red #e78284;

* {
  // all: unset;
  font-size: 15px;
  font-family: "CaskaydiaCove Nerd Font";
  transition: 200ms;
}

trough highlight {
  background: @foreground;
}

scale trough {
  margin: 0rem 1rem;
  background-color: @color8;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: @red;
}

/*** Single Notification "Box" ************************************************/
.notification-background .notification {
	background-color: @color8;
	color: white;
	border-bottom: 8px solid shade(@color8, 0.8);
	border-radius: 5px;
	padding: 7px;
	box-shadow: alpha(@background, 0.16) 0px 3px 6px, alpha(@background, 0.23) 0px 3px 6px;
}
.notification-background .notification.critical {
	background-color: @red;
	color: @background;
	border-bottom: 8px solid shade(@red, 0.8);
}
.notification-background .notification .notification-content {
	margin: 7px;
}
.notification-background .notification .notification-content .summary {
	font-size: 17px;
	font-weight: bold;
}
.notification-background .notification .notification-content .time {
  color: @color6;
}

/* Progress Bar */
.notification progress {
	min-height: .8em;
  background-color: @color2;
	border-bottom: .3em solid shade(@color2, 0.8);
	border-radius: .2em;
	margin-top: 7px;
}
.notification.critical progress {
  background-color: @background;
}

/* Outside of control-center */
.floating-notifications.background .notification-row .notification-background {
	margin: 20px;
}
/* Inside of control-center */
.control-center .notification-row .notification-background {
  margin-top: 14px;
}

/*** Buttons ******************************************************************/

/* Action buttons */
.notification-background .notification > *:last-child > *,
.control-center .widget-title {
  min-height: 4em;
}

.notification-background .notification > *:last-child > * .notification-action,
.control-center .widget-title button {
	font-weight: bold;
	background-color: @color1;
	color: @background;
	border-bottom: 8px solid shade(@color1, 0.8);
	border-radius: 5px;
  margin: 7px;
}

.notification-background .notification > *:last-child > * .notification-action:hover,
.control-center .widget-title button:hover {
	border-bottom: 0px solid shade(@color1, 0.8);
	margin-top: 15px;
}

.notification-background .notification > *:last-child > * .notification-action:active,
.control-center .widget-title button:active {
	background-color: shade(@color1, 1.2);
}

.control-center .widget-title button {
	padding: 7px;
}

/* Close button */
.notification-background .close-button {
	background-color: @red;
	color: @background;
	border-bottom: 4px solid shade(@red, 0.8);
	border-radius: 5px;
  margin: 7px;
  padding: 2px;
}

.notification-background .close-button:hover {
	border-bottom: 0px solid shade(@red, 0.8);
	margin-top: 11px;
}

.notification-background .close-button:active {
	background-color: shade(@red, 1.2);
}

/*** Control Center ***********************************************************/
.control-center {
  /* border-radius: 14px; */
  /* border: 5px solid @color1; */
  /* margin: 18px; */
  padding: 14px 25px;
	/* background-color: alpha(@background, 0.8); */
	background: @background;
	color: white;
}

.control-center .widget-title > label {
  font-size: 1.3em;
	font-weight: bold;
}

/******************************************************************************/


.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px @background;
  background-color: @color1;
  color: @foreground;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px @background;
  background-color: @color1;
  color: @foreground;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: @color8;
  border: 1px solid @background;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @color8;
}

.control-center-dnd slider {
  background: @background;
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @color8;
  border: 1px solid @background;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @color8;
}

.widget-dnd > switch slider {
  background: @background;
  border-radius: 8px;
  border: 1px solid @color8;
}

.widget-mpris .widget-mpris-player {
  background: @color8;
  padding: 7px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: @red;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: @color8;
}

.control-center .widget-label > label {
  color: @foreground;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: @color1;
}

.widget-volume trough highlight {
  background: @color1;
}

.widget-backlight trough highlight {
  background: #e5c890;
}

.widget-backlight scale {
  margin-right: 1rem;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #e5c890;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
	margin-right: 7px;
}
